* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #211b1c;
    --rose: #a96169;
    --light-rose: #f4dfe0;
    --cream: #f8f2ee;
    --text: #2d2828;
    --muted: #756d6d;
    --white: #ffffff;
    --border: #e8dfdc;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    background: var(--white);
    line-height: 1.6;
}

a {
    color: inherit;
}

button,
input {
    font: inherit;
}


/* ================= HEADER ================= */

.header {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 18px 7%;

    background: rgba(255,255,255,.96);
    backdrop-filter: blur(10px);

    border-bottom: 1px solid var(--border);
}

.logo {
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}

.logo span {
    color: var(--rose);
}

.nav {
    display: flex;
    gap: 28px;
}

.nav a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.nav a:hover {
    color: var(--rose);
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon-btn,
.cart-btn,
.menu-btn {
    border: none;
    background: transparent;
    cursor: pointer;
}

.cart-btn {
    position: relative;
    font-size: 18px;
}

#cartCount {
    position: absolute;

    top: -10px;
    right: -10px;

    width: 19px;
    height: 19px;

    display: grid;
    place-items: center;

    background: var(--rose);
    color: white;

    border-radius: 50%;

    font-size: 10px;
}

.menu-btn {
    display: none;
    font-size: 24px;
}


/* ================= SEARCH ================= */

.search-box {
    display: none;

    padding: 15px 7%;

    background: var(--cream);
}

.search-box.show {
    display: block;
}

.search-box input {
    width: 100%;

    padding: 13px 18px;

    border: 1px solid var(--border);

    border-radius: 30px;

    outline: none;
}


/* ================= HERO ================= */

.hero {
    min-height: 700px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    gap: 50px;

    padding: 80px 7%;

    background: linear-gradient(
        135deg,
        #fff,
        #f8ece9
    );
}

.eyebrow {
    color: var(--rose);

    font-size: 11px;

    font-weight: 800;

    letter-spacing: 3px;

    margin-bottom: 15px;
}

.hero h1 {
    font-size: clamp(48px, 6vw, 82px);

    line-height: 1;

    letter-spacing: -4px;
}

.hero h1 span {
    display: block;
    color: var(--rose);
}

.hero-content > p:not(.eyebrow) {
    max-width: 600px;

    color: var(--muted);

    font-size: 18px;

    margin: 25px 0;
}

.hero-buttons {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;

    padding: 14px 23px;

    border-radius: 40px;

    text-decoration: none;

    font-weight: 700;

    transition: .3s;
}

.primary {
    background: var(--dark);
    color: white;
}

.primary:hover {
    background: var(--rose);
    transform: translateY(-3px);
}

.secondary {
    border: 1px solid var(--border);
    background: white;
}

.secondary:hover {
    transform: translateY(-3px);
}


/* ================= HERO VISUAL ================= */

.hero-visual {
    position: relative;

    display: flex;

    justify-content: center;
}

.hero-dress {
    width: 330px;
    height: 480px;

    position: relative;
    overflow: hidden;


    border-radius: 180px 180px 30px 30px;

     box-shadow: 20px 25px 60px rgba(0, 0, 0, 0.12);

    background: #f0d3cd; 
}

.floating-card {
    position: absolute;

    padding: 9px 14px;

    background: white;

    border-radius: 30px;

    font-size: 12px;

    font-weight: 700;

    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.one {
    top: 60px;
    left: 5%;
}

.two {
    right: 0;
    top: 230px;
}

.three {
    left: 10%;
    bottom: 70px;
}


/* ================= FEATURES ================= */

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

    padding: 45px 7%;

    background: var(--dark);

    color: white;
}

.feature {
    text-align: center;
}

.feature span {
    font-size: 30px;
}

.feature h3 {
    margin: 8px 0;
}

.feature p {
    color: #c9bebe;
}


/* ================= SHOP ================= */

.shop {
    padding: 100px 7%;
}

.section-title {
    text-align: center;

    max-width: 700px;

    margin: auto;
}

.section-title h2 {
    font-size: 48px;

    line-height: 1.1;
}

.section-title > p:last-child {
    color: var(--muted);

    margin-top: 10px;
}

.filters {
    display: flex;

    justify-content: center;

    gap: 10px;

    flex-wrap: wrap;

    margin: 40px 0;
}

.filter {
    padding: 10px 20px;

    border: 1px solid var(--border);

    background: white;

    border-radius: 30px;

    cursor: pointer;

    font-weight: 600;
}

.filter:hover,
.filter.active {
    background: var(--dark);
    color: white;
}

.products {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}

.product {
    border: 1px solid var(--border);

    border-radius: 20px;

    overflow: hidden;

    transition: .3s;
}

.product:hover {
    transform: translateY(-7px);

    box-shadow: 0 20px 50px rgba(0,0,0,.09);
}

.product-image {
    height: 310px;

    position: relative;

    display: grid;

    place-items: center;

    font-size: 100px;

    overflow: hidden;

} 
.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    display: block;
}

.product-image span {
    position: absolute;

    top: 15px;
    left: 15px;

    padding: 5px 10px;

    background: white;

    border-radius: 20px;

    font-size: 10px;

    font-weight: 800;
}

.pink {
    background: #f3d6d8;
}

.beige {
    background: #eaded3;
}

.cream {
    background: #eee7dc;
}

.brown {
    background: #d8c3b4;
}

.gold {
    background: #eadfbf;
}

.lavender {
    background: #ddd6e8;
}

.product-info {
    padding: 20px;
}

.product-info small {
    color: var(--rose);

    font-weight: 800;

    font-size: 10px;

    letter-spacing: 1px;
}

.product-info h3 {
    margin: 6px 0;
}

.product-info > p {
    color: var(--muted);

    font-size: 14px;
}

.product-footer {
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-top: 20px;
}

.product-footer a {
    background: var(--dark);

    color: white;

    text-decoration: none;

    padding: 9px 14px;

    border-radius: 20px;

    font-size: 12px;

    font-weight: 700;
}

.product-footer a:hover {
    background: var(--rose);
}


/* ================= VIDEO ================= */

.video-section {
    padding: 100px 7%;

    background: #1e1819;

    color: white;

    text-align: center;
}

.video-content {
    max-width: 750px;

    margin: auto auto 40px;
}

.video-content h2 {
    font-size: 50px;

    line-height: 1.05;
}

.video-content h2 span {
    color: #dfa5a8;
}

.video-content > p:last-child {
    color: #c9bebe;

    margin-top: 20px;
}

.video-wrapper {
    position: relative;

    max-width: 950px;

    margin: auto;

    overflow: hidden;

    border-radius: 25px;

    box-shadow: 0 30px 80px rgba(0,0,0,.5);
}

.video-wrapper iframe{
    display: block;

    width: 100%;

    max-height: 500px;

     border: none;
}
}

.video-label {
    position: absolute;

    left: 25px;
    bottom: 25px;

    text-align: left;

    pointer-events: none;
}

.video-label strong {
    color: #e0a5a8;

    font-size: 11px;

    letter-spacing: 2px;
}

.video-label p {
    font-size: 22px;

    font-weight: 700;
}

.video-tips {
    max-width: 950px;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 15px;

    margin: 25px auto 0;
}

.video-tips div {
    padding: 20px;

    border: 1px solid #3a3031;

    border-radius: 15px;
}

.video-tips strong {
    color: #e0a5a8;
}


/* ================= COLLECTIONS ================= */

.collections {
    padding: 100px 7%;
}

.collection-grid {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 20px;

    margin-top: 45px;
}

.collection-card {
    padding: 40px 20px;

    text-align: center;

    text-decoration: none;

    border-radius: 20px;

    background: var(--cream);

    transition: .3s;
}

.collection-card:hover {
    transform: translateY(-7px);

    background: var(--light-rose);
}

.collection-card span {
    font-size: 45px;
}

.collection-card h3 {
    margin: 10px 0 3px;
}

.collection-card p {
    color: var(--muted);

    font-size: 14px;
}


/* ================= CTA ================= */

.cta {
    padding: 100px 7%;

    text-align: center;

    background: linear-gradient(
        135deg,
        #f7e4e0,
        white
    );
}

.cta h2 {
    max-width: 700px;

    margin: auto;

    font-size: 50px;

    line-height: 1.1;
}

.cta > p:not(.eyebrow) {
    max-width: 600px;

    margin: 20px auto 30px;

    color: var(--muted);
}


/* ================= DISCLOSURE ================= */

.disclosure {
    padding: 30px 7%;

    background: #f5f2f0;

    color: var(--muted);

    font-size: 13px;
}

.disclosure h3 {
    color: var(--dark);
}


/* ================= FOOTER ================= */

footer {
    padding: 45px 7%;

    text-align: center;

    background: var(--dark);

    color: white;
}

.footer-logo {
    font-size: 20px;

    font-weight: 800;
}

.footer-logo span {
    color: #dfa5a8;
}

footer p {
    color: #aaa;

    margin: 10px 0;
}

.footer-links {
    display: flex;

    justify-content: center;

    gap: 25px;

    margin: 15px 0;
}

.footer-links a {
    color: #ccc;

    text-decoration: none;

    font-size: 13px;
}


/* ================= CART MODAL ================= */

.cart-modal {
    display: none;

    position: fixed;

    inset: 0;

    z-index: 2000;

    background: rgba(0,0,0,.65);

    align-items: center;

    justify-content: center;
}

.cart-modal.show {
    display: flex;
}

.cart-box {
    position: relative;

    width: min(90%, 450px);

    padding: 40px;

    background: white;

    border-radius: 25px;

    text-align: center;
}

.cart-box h2 {
    margin-bottom: 10px;
}

.cart-box p {
    color: var(--muted);

    margin-bottom: 25px;
}

.close-cart {
    position: absolute;

    top: 15px;
    right: 20px;

    border: none;

    background: none;

    font-size: 28px;

    cursor: pointer;
}


/* ================= RESPONSIVE ================= */

@media (max-width: 768px) {

    .hero-dress {
         width: 260px;
        height: 390px;
        margin: 0 auto;

        grid-template-columns: 1fr;

        text-align: center;
    }

    .hero-content > p:not(.eyebrow) {
        margin-left: auto;
        margin-right: auto;
    }

    .hero-buttons {
        justify-content: center;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .collection-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media (max-width: 700px) {

    .video-wrapper iframe {
    height: 300px;
}

    .nav {
        display: none;

        position: absolute;

        top: 70px;

        left: 0;

        width: 100%;

        padding: 25px;

        background: white;

        flex-direction: column;

        text-align: center;

        border-bottom: 1px solid var(--border);
    }

    .nav.show {
        display: flex;
    }

    .menu-btn {
        display: block;
    }

    .hero {
        padding: 60px 6%;
    }

    .hero-dress {
        width: 330px;
        height: 400px;
        display: grid;
    place-items: center;

    border-radius: 180px 180px 25px 25px;

    background:
        linear-gradient(
            145deg,
            #d99ca0,
            #f0d3cd
        );

    box-shadow: 20px 25px 60px rgba(0,0,0,.12);
}

    .hero-dress img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

     object-position: center;

    border-radius: inherit; 
}

    .features {
        grid-template-columns: 1fr;
    }

    .products {
        grid-template-columns: 1fr;
    }

    .collection-grid {
        grid-template-columns: 1fr;
    }

    .section-title h2,
    .video-content h2,
    .cta h2 {
        font-size: 36px;
    }

    .video-tips {
        grid-template-columns: 1fr;
    }

    .video-label p {
        font-size: 16px;
    }

}